<div>
  <form [formGroup]="generalForm">
    <div>
      <label for="name">Name:</label>
      <input 
        formControlName="name"
        autocomplete="off"
        type="text"
        name="name"
        id="name"
      >
      <em [hidden]="
        !(hasError('name', 'required') &&
        getFormControl('name').touched)">Required!!</em>
    </div>
    <div>
      <label for="socialSecurity">SSN:</label>
      <input 
        formControlName="socialSecurity"
        autocomplete="off"
        type="text"
        name="socialSecurity"
        id="socialSecurity"
      >
      <em [hidden]="
        !(hasError('socialSecurity', 'ssn') &&
        getFormControl('socialSecurity').touched)">Invalid SSN!!</em>
    </div>
    <div formGroupName="passwordGroup">
      <div>
        <label for="password">Password:</label>
        <input 
          formControlName="password"
          autocomplete="off"
          type="text"
          name="password"
          id="password"
        >
        <em [hidden]="
          !(hasPasswordError('password', 'minlenght') &&
          getNestedFormControl('password').touched)">Password must have at least 5 characters</em>
      </div>
      <div>
        <label for="password">Confirm Password:</label>
        <input 
          formControlName="confirmPassword"
          autocomplete="off"
          type="text"
          name="confirmPassword"
          id="confirmPassword"
        >
      </div>
    </div>
  </form>
</div>